html, body {
    height: 100%;
    background-image: url("../slike/molekula.png");
    /* background-color: gray */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#wrap {
  min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -15px; /* negative value of footer height */
    height: 15px;
    clear:both;
    padding-top:20px;
}

.jumbotron {

    height: 240px;
    text-align: center;

}


.lig_image {
    border:1px solid black;
}

/* .lig_image:hover { */
/*     border: none; */
/*     box-shadow: 0 0 10px black inset; */
/* } */

.tableformat td:nth-child(1){
    width: 300px;
}

.tableformat td:nth-child(9){
    width: 300px;
}

.lig_image_s1 {
    border:1px solid black;
    float:right;
}

.lig_image_s2 {
    border:1px solid black;
    float:left;
}
.lig_image_s2:hover { transform: scale(2); } 
.lig_image:hover { transform: scale(2); }
.lig_image_s1:hover { transform: scale(2); } 

.bodycontainer { max-height: 450px; width: 100%; margin: 0; overflow-y: auto; }


.cont1 {
-moz-box-shadow: 10px 10px 5px #dfe09f;
-webkit-box-shadow: 10px 10px 5px #dfe09f;
box-shadow: 10px 10px 5px #dfe09f;

}


.cont2 {
-moz-box-shadow: 10px 10px 5px #9fe0c3;
-webkit-box-shadow: 10px 10px 5px #9fe0c3;
box-shadow: 10px 10px 5px #9fe0c3;

}

input[type=radio] {
    border: 4px;
    height: 1.4em;
    width: 1.4em;
    border-radius: 15px;
    border: 2px solid green;
}

input[type=radio]:hover {

    height: 1.8em;
    width: 1.8em;

}

.submitborder {
    width:300px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;

}